@import url(http://fonts.googleapis.com/css?family=Raleway);


body {
  display: block;
  font-family: 'Raleway', sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
}

.header {
  margin: 50px 0px;
}

.title {
  color: #F56F49;
  font-family: 'Raleway', bold;
  font-size: 50px;
}

.account {
  display: inline-block;
  background-color: grey;
  border: 1px solid #0000;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.balance {
  background-color: #E3E3E3;
  border: 1px solid #676767;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  margin: 5px;
  padding: 25px 0px;
}


